@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');  
:root{
    font-family: 'EB Garamond', serif;
    
}
#container{
    display: grid;
    gap:1.5%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 17.5% 1fr;
    
    
}
/* #logo{
    display: flex;  
    justify-content:baseline;
    height: 90%;
} */
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/3;
    text-align: center;
    background-color: #eee;
}


nav a:hover{
    color: rgb(95, 95, 242);
}


#title{
    grid-column: 1/5;
    /* padding-left: 19%;
    margin-right: 30%;  */
    /* margin-top: 0%;    */
    display: flex;
    justify-content: space-evenly;
    text-align:center;
    padding-right: 10%;
    /* font-size:500%; */
    font-family: 'EB Garamond', serif;
}
#browsemenu{
    grid: flex;
    justify-content: space-evenly;
    font-size: 200%;
    text-align: center;
    background-color: #eee;
    width: 80%;
    
}

#middlesection{
    grid-column: 2;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 390px 1fr;
    gap: 1.5%;   
    background-color: rgb(158, 203, 255);
    
}
#firstparag{
    grid-row: 1/3;
    grid-column: 2/3;
    
    text-align: center;
    background-color: #eee;
    
}

#secondparag{
    text-align: center;
    grid-column: 1/2;
    grid-row: 2;
    background-color: #eee;
    
}

#imageTop{
    grid-column: 1/3;
}
#imagetopimg{
    width:100%;
    height:390px;
}

img{
    width:50%;
    grid-column:1/3;
}
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    justify-content: center;
    gap:5%;
    text-align: center;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    text-align: center;
}
aside {
    grid-column: 1 ; /* place the sidebar in the first column */
    grid-row:2/4;   /* place sidebar from row 2 to 4 */
    background-color: #eee;
    padding: 4rem;
    display: flex;
    flex-direction: column;
}
footer{
    grid-column:1/3;
    grid-row:4;
    background-color: #eee;
    
}
#hamburgermenu{
    display: none;
    visibility: none;
}
#menu__toggle {
    opacity: 0;
    display:none;
}
#current {
    color: rgb(0, 255, 170);
}
a[href^="https"] {
    color: rgb(72, 11, 11);
}
html{
    gap:2%;
}
.colovnav{
    background-color: #dfdfdf;
    border-style: solid blue;
    gap: 10%;
}
#brose5 #brose4 #brose3 #brose2 #brose1{
    padding-top: 10%;
}
h4{
    background-color: rgb(172, 170, 170);
}
/* small screen */
@media screen and (max-width:590px){
    
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    
    #middlesection {
        
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows:1fr 1fr 1fr ;
    }
    #imagetop {
        grid-row: 1/2;
        width: 100%;
    }
    #firstparag{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    
    #secondparag{
        grid-row: 3/3;
    }
    footer {
        /* position:relative; */
        top: 100%;
        width: 100%;
    }
    #browsemenu{
        grid: flex;
        justify-content: space-evenly;
        font-size: 200%;
        text-align: center;
        background-color: #eee;
        width: 80%;
        
    }
    #title{
        grid-column: 1/4;
        
        grid:flex;
        text-align:initial;
        padding-right: 10%;
        /* font-size:500%; */
        font-family: 'EB Garamond', serif;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
        text-align: center;
    }
    /*  */
    /* #hamburgermenu{ */
        /* display:unset; */
    /* } */
    /* for hamburger menu spining icong when clicked */
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    
    /* for hamburger menu spining icong when clicked */
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    
    /* for hamburger menu spining icong when clicked */
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    /* for the content to show on the right on the hamburger menu
    other wise no content to click */
    #menu__toggle:checked ~ .menu__box {
        right: 0;
        left: unset !important;
    }
    /* hamburger menu icon position and style */
    .menu__btn {
        position: fixed;
        top: 20px;
        right:3px;
        width: 20px;
        height: 25px;
        cursor: pointer;
        z-index: 10;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color:black;
        transition-duration: .25s;
    }
    /* top line */
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    /* bottom line */
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        font-size: calc(9px + 1vw);
        top: 5%;
        left:120%;
        width: 33%;
        height: 35%;
        list-style: none;
        background-color: rgb(158, 203, 255);
        border-color: black;
        border-style: ridge;
        z-index: 1;
        color: black;
        transform: skewX(5deg);
        
    }
    aside{
        display:none;
    }
    #logo img{
        width: 130%;
        height:70%;
    }
    #title{
        margin-left:20%;
    }
    
}


/* medium size screen */
@media screen and (min-width: 591px) and (max-width:790px) {
    header img{
        width: 100%;
        height: 70%;
        
    }
    
}
/* large size screen  */
@media screen and (min-width:791px) {
    #container{
        background-color: rgb(158, 203, 255);
        gap:1%;
    }
    html{
        max-width: 1000px;
        margin-right:auto;
        margin-left: auto;
    }
    .hamburger-menu{
        display: none;
    }
    
    header img{
        height: 70%;
    }
    
    
}